
.dark-pelicula{
    position: absolute;
    width: 215vh;
    height: 100vh;
    background-color: black;
    opacity: 0.6;      
    
   
  }
  
  .backdrop-Pelicula{
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
    ;
  
  }
  .pelicula-poster{
    z-index: 1;
    margin-top: 50px;
    height: 550px ;
    width: 390px;
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;

  }
  .pelicula-info{
    display: flex;
    height: 90vh;
    color: #fff;
    text-decoration:#fff;
  }

  .pelicula-info .pelicula-header{
    display: flex;
    align-items:flex-start ;
    justify-content: space-between;
  }
  .pelicula-info .pelicula-header h1{
    color: #fff;
    margin: 0;
    font-size: 60px;
    position: absolute;
  }
  .pelicula-info .pelicula-header h1 span{
    font-size: 20px;
    margin-top: 40px;
    margin-left: 10px;
    opacity: 0.5;
    position: absolute;
    color: #fff;
    text-decoration:#fff;
  }
  .pelicula-content{
    margin-top: 90px;
    margin-right: 90px;
    position: absolute;
  }