
body {
  margin: 10px; 
  
}

.dark-pelicula{
  position: absolute;
  width: 208.6vh;
  height: 100vh;
  background-color: black;
  opacity: 0.8;  
  
  
 
}

.backdrop-Pelicula{
  background-position:center ;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  
  ;

}